
#section-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-height:100vh;
    width:100%;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}

#contact-form {
    width: auto;
    height:auto;
    background: #BA361C;
    display:grid;
    grid-template-columns: 1fr 2fr;
}

#contact-form input, textarea, input:invalid {

    width:100%;
    background: #1E1719;
    border:none;
    border-bottom:3px solid black;
    color:white;
    border-radius:5px;
    box-shadow:none;
    resize: none;
}


#contact-form-left, #contact-form-right {
    box-sizing:border-box;
    padding:10px;
}
#contact-form label {
    display:block;

    font-weight:bold;
}

#contact-form button {

    width:100%;
}

@media only screen and (max-width:768px) {
    #contact-form {
        display:block;
        width: 100%;
        
    }
}