@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


#wrapper {
    width: 100%;
    background-color: #312E38;
}

header {
    display: grid;
    background-color: #052A33;
    grid-template-columns: 1fr 1fr;
    font-family: 'Roboto Slab', serif;
    
    color: #F8F8F6;
}

#logo {
    padding: 30px 30px 25px 30px;
    font-size: 30px;
}


#logo h1 {
    padding-bottom: 5px;
    border-bottom: 3px solid #BA361C;
    display: inline-block;
    
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
}

nav {
    text-align: right;

}

nav a {
    text-decoration: none;
    padding: 35px 30px 30px 30px;;
    display: inline-block;
    font-size:20px;
}

nav a:hover {
    color: ;
    border-bottom:3px solid #BA361C;
}

nav a:active {
    color: #F8F8F6;
}

nav a:visited {
    color: #F8F8F6;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


#section-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: inherit;
    background: #1E1719;
}

#section-2 {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:50px;
}

#section-3 {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1
}

section:nth-child(odd) {
    background-color: #312E38;

}

.content {
    font-family: 'Oswald', sans-serif;
    color: #F8F8F6;
    background: #BA361C;
    border-radius: 10px;
}
.content h1{
    border-bottom:2px solid black;
    padding:5px;
    margin:10px;
    font-size:2em;
    grid-area:span 2;
}

.content p {
    padding:5px;
    margin:10px;
}
footer {
    font-family: 'Oswald', sans-serif;
    height: 100px;
    font-size: 30px;
    text-align: center;
}


#notfound {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    text-align: center;
    height: 100vh;
    padding-top: 100px;
}

#notfound h1 {
    font-size: 10em;
    margin: 2px;
    padding: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#notfound h2 {
    font-size: 4.2em;
    margin: 2px;
    margin-top: 0;
    padding-top: 0;

}



.notfound {
    color: green;
}